.App {
  text-align: center;
  width: 65%;
  
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h4 {
  color: white;
  font-size: 28px;
}

h5{
  background-color: #555;
  border-color: #555;
  cursor: pointer;
  border-radius: 0.25rem;
  width: auto;
  font-size:12pt;
}

h3{
  opacity: 0.5;
  font-family: cursive;
}

